html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.menuHeader ul {
  list-style: none;
  display: flex;
  background-color: grey;
  margin: 0 auto;
}

.menuHeader ul li {
  padding: 20px;
  display: block;
}

.menuHeader ul li a {
  color: white;
  text-decoration: none;
}

.main{
  position: relative;
  left:75px;
  padding-left: 20px;
  padding-top: 20px;
}

.bookTitle{
  color: green;
}

.listOfBooks {
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  text-align: left;
}
