html {
    box-sizing: border-box;
  }
 
 table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width:30%;
    text-align: center;
    
    
 }
 table {
     margin-left:250px;
 }
 h1 {
    margin-left:250px;
    padding-bottom: 20px;
}